<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
   
</head>
<body>

    
            {% block content %}
             <!-- Page Content -->
    
    <!-- Featured Starts Here -->
    <div class="featured-items">
        <div class="container col-md-12 col-sm-12 col-lg-12">
            <div class="row">
              <div class="col-md-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  <h1>Produits Alimentaires</h1>
                </div>
              </div>
            {% for alimentaire in alimentaire %}
            <div class="col-md-6 col-lg-3 col-xl-3 col-12 ">

              <div class="card">
                <a href="{% url 'detail_alimentaire' alimentaire.id %}"><img src="{{alimentaire.image.url}}" alt="card image cap" class="card-img-top" style="height: 250px;"></a>
                <div class="card-body" style="height: 150px;">
                  <a href="{% url 'detail_alimentaire' alimentaire.id %}"><h4 class="card-title">{{alimentaire.title}}</h4></a>
                    <p class="card-text">{{alimentaire.prix}}FCFA</p>
            
                    <a href="{% url 'detail_alimentaire' alimentaire.id %}" class="btn btn-primary" style="width: 150px;">Plus de détail</a>
                </div>
                </div>
               
            </div>
      
            {% endfor %}
            
            </div>
        </div>
    </div>
      
      <!-- Featred Ends Here -->
             {% endblock %}
    
           
          
</body>
</html>